@CHARSET "UTF-8";
html,body{
	background-color:#f7f7f7;
}
.payinfo{
	display:none;
}
.payinfo .paynum {
	font-size: 0.6rem;
	color: #424857;
}
/*记得写入职资料电子版*/
.payinfo .payzero {
	font-size: 0.6rem;
	color: #424857;
}
table{
	width:100%; 
	height:50%;
	position:absolute;
	bottom:0;
    background-color:white;
    background-top:none;
}
table tr td{
	text-align:center;
	width: 1.88rem;
	height: 1.26rem;
	font-family: "Microsoft YaHei";
	font-weight: normal;
	border-right:1px solid #D9D9D9;
	border-bottom:1px solid #D9D9D9;
}
table tr td:active{
	background-color:#ECECEC;
}
.keybord-return{
	width: 1.88rem;
	height: 1.26rem;
	background:url(../../image/direct_pay_images/keybord-return.png) no-repeat;
	background-size: 50% 50%;
	background-position: center;
}
.keybord-stop{background-image:url(../../image/direct_pay_images/keybord-stop.png); background-size:90% 90%;}
.pay{
	color:#ffffff;
	font-size:0.3rem;
	background-color:#20d81f;
}
.pay:active{
	background-color: #D9D9D9;
}
.pay a{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
}
.a-pay {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pay-disabled {
	background-color: #D9D9D9;
}